#!/bin/bash

# Determine if we are running on macOS
is_osx() {
  local platform
  platform=$(uname)
  [ "$platform" == "Darwin" ]
}

# Cross-platform "open URL/path in default app"
xopen() {
  if is_osx; then
    open "$@"
  else
    xdg-open "$@" >/dev/null 2>&1
  fi
}

# Start an HTTP server from a directory, optionally specifying the port
server() {
  local port="${1:-8000}"
  sleep 1 && xopen "http://localhost:${port}/" &
  python3 -m http.server "$port"
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
tre() {
  tree -aC -I '.git' --dirsfirst "$@" | less -FRNX
}

# Call from a local repo to open the repository on github/bitbucket in browser
repo() {
  local giturl
  giturl=$(git config --get remote.origin.url | sed 's/git@/\/\//g' | sed 's/.git$//' | sed 's/https://g' | sed 's/:/\//g')
  if [[ $giturl == "" ]]; then
    echo "Not a git repository or no remote.origin.url is set."
    return 1
  fi
  local gitbranch
  gitbranch=$(git rev-parse --abbrev-ref HEAD)
  giturl="http:${giturl}"

  if [[ $gitbranch != "${DEFAULT_GIT_BRANCH}" ]]; then
    if echo "${giturl}" | grep -qi "bitbucket"; then
      giturl="${giturl}/branch/${gitbranch}"
    else
      giturl="${giturl}/tree/${gitbranch}"
    fi
  fi

  echo "$giturl"
  xopen "$giturl"
}

# Get colors in manual pages
man() {
	env \
		LESS_TERMCAP_mb="$(printf '\e[1;31m')" \
		LESS_TERMCAP_md="$(printf '\e[1;31m')" \
		LESS_TERMCAP_me="$(printf '\e[0m')" \
		LESS_TERMCAP_se="$(printf '\e[0m')" \
		LESS_TERMCAP_so="$(printf '\e[1;44;33m')" \
		LESS_TERMCAP_ue="$(printf '\e[0m')" \
		LESS_TERMCAP_us="$(printf '\e[1;32m')" \
		man "$@"
}

# Per-machine functions (gitignored)
# shellcheck source=/dev/null
[ -f "$HOME/.functions.local" ] && . "$HOME/.functions.local"
