[alias]
  # Pretty print the git log.
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

  # Pretty print the git log.
  lga = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

  # Checkout a branch.
  co = checkout

  # Create a new branch
  cob = checkout -b

  # Clean up branches that have been merged.
  bclean = "!/bin/bash -c 'echo $DEFAULT_GIT_BRANCH; branches=( $(git branch --merged ${1-"${DEFAULT_GIT_BRANCH}"} | grep -v " ${1-"${DEFAULT_GIT_BRANCH}"}$") ); if [ ! -z "${branches}" ]; then for branch in ${branches[@]}; do git branch -d ${branch}; done; else echo "No branches to cleanup"; fi'"

  bcleancur = "!/bin/bash -c 'branches=( $(git branch --merged $(git rev-parse --abbrev-ref HEAD) | grep -v " ${1-master}$" | grep -v "^\\* ") ); if [ ! -z "${branches}" ]; then for branch in ${branches[@]}; do git branch -d ${branch}; done; else echo "No branches to cleanup"; fi'"

  # Push origin HEAD.
  poh = push origin HEAD
  
  # Push origin HEAD no verify.
  pohv = push origin HEAD --no-verify

  # Pull with prune.
  pp = pull --prune

  # Pull with prune and clean branches that have been merged.
  ppc = !git pp && git bclean

  # Reset a branch that may have been force pushed to the correct remote HEAD.
  fpr = !git rev-parse --abbrev-ref HEAD | xargs -I {} /bin/bash -c 'git fetch origin {} && git reset --soft origin/{}'

  # Force push the current branch
  fph = push origin HEAD -f

  # Amend
  a = commit --amend

  # Amend no edit
  ane = commit --amend --no-edit

  # Apply a fix for GPG interactive tty's
  cm-gpg = !GPG_TTY=$(tty) git commit

[apply]

  # Detect whitespace errors when applying a patch
  whitespace = fix

[core]

  # Use custom `.gitignore` and `.gitattributes`
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes

  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

  # Make `git rebase` safer on OS X
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  # trustctime = false
  editor = vim

[color]

  # Use colors in Git commands that are capable of colored output when
  # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
  ui = auto

[color "branch"]

  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]

  meta = yellow bold
  frag = magenta bold # line info
  old = red # deletions
  new = green # additions

[color "status"]

  added = yellow
  changed = green
  untracked = cyan

[diff]

  # Detect copies as well as renames
  renames = copies

[help]

  # Automatically correct and execute mistyped commands
  autocorrect=1


[diff]
  tool = meld

# Uncomment if you want fetch to also get all github pull requests, this is rather
# large on big repos.
#[remote "origin"]
  #fetch = +refs/pull/*/head:refs/remotes/origin/pull/*

[github]
  user = icirellik

[user]
  name = Cameron Rollheiser
  email = icirellik@gmail.com
  signingkey = 0x1780CF254F8B82DA

[commit]
  gpgsign = true

[http]
  cookiefile = ~/.gitcookies

[gpg]
  program = gpg2

[includeIf "gitdir:~/code/personal/"]
  path = .gitconfig.personal

[includeIf "gitdir:~/code/invision/"]
  path = .gitconfig.invision

[includeIf "gitdir:~/code/artsy/"]
  path = .gitconfig.artsy
